[submodule "serial-utility"]
	path = server-examples/serial-utility
	url = https://gitlab.com/hololinked/examples/servers/serial-utility.git
[submodule "oceanoptics-spectrometer"]
	path = server-examples/oceanoptics-spectrometer
	url = https://gitlab.com/hololinked/examples/servers/oceanoptics-spectrometer.git
[submodule "server-examples/phymotion-controllers"]
	path = server-examples/phymotion-controllers
	url = https://gitlab.com/hololinked/examples/servers/phymotion-controllers.git
[submodule "server-examples/gentec-optical-energy-meters"]
	path = server-examples/gentec-optical-energy-meters
	url = https://gitlab.com/hololinked/examples/servers/gentec-optical-energy-meters.git
[submodule "server-examples/diy-arduino-hardware-trigger-reader"]
	path = server-examples/diy-arduino-hardware-trigger-reader
	url = https://gitlab.com/hololinked/examples/servers/diy-arduino-hardware-trigger-reader.git
[submodule "server-examples/diy-raspberry-pi-servo-motor"]
	path = server-examples/diy-raspberry-pi-servo-motor
	url = https://gitlab.com/hololinked/examples/servers/diy-raspberry-pi-servo-motor.git
[submodule "server-examples/ids-ueye-camera"]
	path = server-examples/ids-ueye-camera
	url = https://gitlab.com/hololinked/examples/servers/ids-ueye-camera.git
[submodule "server-examples/picoscope"]
	path = server-examples/picoscope
	url = https://gitlab.com/hololinked/examples/servers/picoscope.git
[submodule "server-examples/simulations/spectrometer-simulator"]
	path = server-examples/simulations/spectrometer-simulator
	url = https://gitlab.com/hololinked/examples/servers/spectrometer-simulator.git
[submodule "client-examples/node-wot/low-frequency-pulsed-laser-daq"]
	path = system/low-frequency-pulsed-laser-daq
	url = https://gitlab.com/hololinked/examples/system/low-frequency-pulsed-laser-daq.git
[submodule "client-examples/node-wot/zeus-dashboard"]
	path = client-examples/node-wot/zeus-dashboard
	url = https://gitlab.com/hololinked/examples/clients/node-clients/zeus-dashboard.git
[submodule "client-examples/node-wot/spectrometer-smartphone"]
	path = client-examples/node-wot/spectrometer-smartphone
	url = https://gitlab.com/hololinked/examples/clients/node-clients/oceanoptics-spectrometer-smartphone-app.git
[submodule "client-examples/oceanoptics-spectrometer-desktop-app"]
	path = client-examples/oceanoptics-spectrometer-desktop-app
	url = https://gitlab.com/desktop-clients/oceanoptics-spectrometer-desktop-app.git
[submodule "client-examples/node-wot/phymotion-controllers-app"]
	path = client-examples/node-wot/phymotion-controllers-app
	url = https://gitlab.com/hololinked/examples/clients/node-clients/phymotion-controllers-app.git
[submodule "client-examples/node-wot/ids-camera-app"]
	path = client-examples/node-wot/ids-camera-app
	url = https://gitlab.com/hololinked/examples/clients/node-clients/ids-camera-app.git
[submodule "server-examples/simulations/oscilloscope-simulator"]
	path = server-examples/simulations/oscilloscope-simulator
	url = https://gitlab.com/hololinked/examples/servers/oscilloscope-simulator.git
[submodule "server-examples/simulations/camera-simulator"]
	path = server-examples/simulations/camera-simulator
	url = https://gitlab.com/hololinked/examples/servers/simulations/camera-simulator.git
[submodule "client-examples/node-wot/image-streaming-basic"]
	path = client-examples/node-wot/image-streaming-basic
	url = https://gitlab.com/hololinked/examples/clients/node-clients/image-streaming-basic.git
